<ul class="list-group list-group-horizontal">
    <li class="list-group-item"><%= exercise.name %></li>
    <li class="list-group-item"><%= exercise.sets %></li>
    <li class="list-group-item"><%= exercise.reps %></li>
</ul> 